*{
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
}

#top{
   color: red;
   font-size: 4rem;
   font-family: sans-serif;
   font-weight: 800;
   text-align: center;
   margin: 20px auto;
}

#time{
   width: 60%;
   margin: 20px auto;
   font-size: 100px;
   text-align: center;
   color: crimson;
   font-family: sans-serif;
}

#buttons{
   width: 60%;
   margin: 30px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

#start, #stop, #reset{
   margin: auto;
   width: 140px;
   height: 60px;
   background-color: red;
   color: white;
   font-size: 30px;
   border-radius: 5px;
   font-family: sans-serif;
   cursor: pointer;
}

.selected{
   display: none;
}

@media screen and (max-width: 500px) {
   #num{
      font-size: 40px;
   }

   #start, #stop, #reset{
      margin: 20px auto;
      width: 120px;
      height: 40px;
      color: white;
      font-size: 20px;
   }

   #top{
      font-size: 3rem;
   }
}
